.form-group
  if options.label
    label(for="#{namespace}#{options.name}") #{options.label}&nbsp;&nbsp;
  if options.help
    p.help-block #{options.help}
  each choice in options.choices
    label(class="radio-inline")
      input(type="radio" name="#{namespace}#{options.name}" value="#{choice.value}")
      span #{choice.label}
  .error-wrapper