.form-group
  if options.label
    label(for="#{namespace}#{options.name}") #{options.label}&nbsp;&nbsp;
  if options.help
    p.help-block #{options.help}
  select(name="#{namespace}#{options.name}" id="#{options.id || namespace + options.name}" class="form-control")
    if options.placeholder
      option(disabled selected) #{options.placeholder}
    each option in options.options
      option(value="#{option.value}") #{option.label}
  .error-wrapper