.form-group
  if options.label
    label(for="#{namespace}#{options.name}") #{options.label}
  if options.help
    p.help-block #{options.help}
  textarea(class="form-control" name="#{namespace}#{options.name}" id="#{options.id || namespace + options.name}") #{value}
  .error-wrapper